<html>
<head><title>M Test</title></head>
<body>
<h1> A Test!</h1>

<div id="targetDiv"></div>

<h1>footer</h1>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js"></script>

<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
            {{body}}
        </div>
    </div>
</script>

<script>
    var source   = document.getElementById("entry-template").innerHTML; //$("#entry-template").html();
    var template = Handlebars.compile(source);
    var context = {title: "My New Post", body: "This is my first post!"};
    var html    = template(context);
    document.getElementById("targetDiv").innerHTML = html
</script>

</body>
</html>