.thumb {
    /*background-image: url("http://images.taboola.com/taboola/image/fetch/dpr_2.0%2Cf_jpg%2Cq_80%2Ch_1…omstatic.com/gen/constrain/560/380/80/2016/01/28/15/5j/ul/ph2sg8ykws1.jpg");*/
    background-size: cover;
    display: block;
    width: 200px;
    height: 134px;
}